setupCommands:
  - name: setup-jwt
    cmd: "sh"
    args:
      [
        "-c",
        './testers/bin/jwktool -cmd gen -silent -pk ./testers/bin/private_key.pem -claims ''{"role":"admin"}'' > ./testers/bin/jwt.txt',
      ]
    startAfter: "0ms"
commands:
  - name: jwk-tool
    cmd: "./testers/bin/jwktool"
    args:
      [
        "-port",
        "9090",
        "-iss",
        "jwktool",
        "-aud",
        "test",
        "-sub",
        "testuser",
        "-pk",
        "./testers/bin/private_key.pem",
      ]
  - name: task
    cmd: "./bin/events-bridge"
    env:
      EB_CONFIG_CONTENT: |
        source:
          type: "http"
          options:
            address: "localhost:8080"
            method: "POST"
            jwt:
              enabled: true
              tokenMetadataKey: "authorization"
              tokenPrefix: "Bearer "
              jwksUrl: "http://localhost:9090/.well-known/jwks.json"
              issuer: "jwktool"
              audience: "test"
              requiredClaims:
                - "sub"
              claimPrefix: "jwt_"
              failOnError: true
              allowedAlgorithms:
                - "RS256"
              clockSkew: "60s"
              jwksRefreshInterval: "1h"

        runners:
          - type: "wasm"
            options:
              path: "./testers/bin/wasmrunner.wasm"
              mountPath: "./testers/runners/wasmrunner"
              env:
                FILE_NAME: "test1.txt"
            routines: 8
            ifExpr: 'string(metadata.path) matches "^/event$"'
          - type: "wasm"
            options:
              path: "./testers/bin/wasmrunner.wasm"
              mountPath: "./testers/runners/wasmrunner"
              env:
                FILE_NAME: "test2.txt"
            routines: 8
            ifExpr: 'string(metadata.path) matches "^/hook$"'
          - type: "pass"
            filterExpr: 'string(metadata["x-file"]) matches "test2"'
    args: []
    restartTries: 0
    startAfter: "500ms"
  - name: http-source-1
    cmd: "httptool"
    args:
      [
        "send",
        "--interval",
        "1s",
        "--path",
        "/event",
        "--payload",
        "{counter} - {nowtime}",
        "--header",
        "Authorization=Bearer {{file:./testers/bin/jwt.txt}}",
      ]
    startAfter: "1500ms"
  - name: http-source-2
    cmd: "httptool"
    args:
      [
        "send",
        "--interval",
        "1s",
        "--path",
        "/hook",
        "--payload",
        "{counter} - {nowtime}",
        "--header",
        "Authorization=Bearer {{file:./testers/bin/jwt.txt}}",
      ]
    startAfter: "2000ms"
killOthers: true
#enableTUI: true
