commands:
  - cmd: "./bin/events-bridge"
    env:
      EB_CONFIG_CONTENT: |
        source:
          type: http
          options:
            address: ":8080"
            method: "POST"
            path: "/event"
            buffer: 10

        runners:
          - type: pgsql
            routines: 3
            format: "json"
            options:
              connString: "postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
              table: "events"
              columns:
                - name: "id"
                  type: "SERIAL PRIMARY KEY"
                - name: "sentiment"
                  type: "VARCHAR(100) NOT NULL"
                - name: "extra_data"
                  type: "JSONB"
              otherColumn: "extra_data"
              onConflict: "DO UPDATE"
              conflictColumns: "id"
              batchSize: 100
    args: []
    restartTries: 0
  - cmd: "httptool"
    args:
      [
        "send",
        "--path",
        "/event",
        "--payload",
        '{"sentiment":"{sentiment}"}',
        "--interval",
        "1s",
      ]
    restartTries: 0
killOthers: true
