commands:
  - name: kafka-target
    cmd: "kafkatool"
    args: ["serve", "--brokers", "localhost:9092", "--topic", "test.topic.out"]
    restartTries: 0
  - name: task
    cmd: "./bin/events-bridge"
    env:
      EB_CONFIG_CONTENT: |
        source:
          type: "kafka"
          options:
            brokers: ["localhost:9092"]
            group_id: "test-group"
            topic: "test.topic.in"

        runners:
          - type: "jsonlogic"
            options:
              logic: |
                {"+":[{"var":"a"},{"var":"b"}]}
              preservePayload: true
          - type: "kafka"
            options:
              brokers: ["localhost:9092"]
              group_id: "test-group"
              topic: "test.topic.out"
    args: []
    restartTries: 0
  - name: kafka-source
    cmd: "kafkatool"
    args:
      [
        "send",
        "--brokers",
        "localhost:9092",
        "--topic",
        "test.topic.in",
        "--interval",
        "1s",
        "--payload",
        '{"a":10, "b":20, "date": "{nowtime}"}',
      ]
    restartTries: 0
killOthers: true
