commands:
  - name: nats-target
    cmd: "natstool"
    args:
      ["serve", "--address", "localhost:4222", "--subject", "test.subject.out"]
    restartTries: 0
  - name: task
    cmd: "./bin/events-bridge"
    env:
      EB_CONFIG_CONTENT: |
        source:
          type: "nats"
          options:
            address: "localhost:4222"
            subject: "test.subject.in"
        runners:
          - type: "jsonlogic"
            options:
              logic: |
                {"+":[{"var":"data.a"},{"var":"data.b"}]}
              preservePayload: true
            routines: 8
          - type: "cli"
            options:
              command: "php"
              args: ["./testers/runners/phprunner/test.php"]
              format: "json"
            routines: 8
          - type: "nats"
            options:
              address: "localhost:4222"
              subject: "test.subject.out"
            routines: 8
    args: []
    restartTries: 0
  - name: nats-source
    cmd: "natstool"
    args:
      [
        "send",
        "--address",
        "localhost:4222",
        "--subject",
        "test.subject.in",
        "--interval",
        "100000us",
        "--payload",
        '{"a":10, "b":20, "date": "{nowtime}", "count": {counter}}',
      ]
    restartTries: 0
    startAfter: "2s"
    duration: "3s"
killOthers: true
