commands:
  - name: http-target
    cmd: "httptool"
    args: ["serve"]
    restartTries: 0
  - name: task
    cmd: "./bin/events-bridge"
    env:
      EB_CONFIG_CONTENT: |
        source:
          type: "pgsql"
          options:
            connString: "postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
            table: "test_table"

        target:
          type: "http"
          options:
            method: "POST"
            url: "http://localhost:8080/api/data"

        runners:
          - type: "wasm"
            options:
              path: "./testers/bin/wasmrunner.wasm"
    args: []
    restartTries: 0
  - name: pgsql-source
    cmd: "pgsqltool"
    args: ["send"]
    restartTries: 0
killOthers: true
