commands:
  - name: redis-target
    cmd: "redistool"
    args:
      ["serve", "--address", "localhost:6379", "--channel", "test.channel.out"]
    restartTries: 0
  - name: task
    cmd: "./bin/events-bridge"
    env:
      EB_CONFIG_CONTENT: |
        source:
          type: "redis"
          options:
            address: "localhost:6379"
            channel: "test.channel.in"

        runners:
          - type: "jsonlogic"
            options:
              logic: |
                {"+":[{"var":"data.a"},{"var":"data.b"}]}
              preservePayload: true
          - type: "redis"
            options:
              address: "localhost:6379"
              channel: "test.channel.out"
    args: []
    restartTries: 0
  - name: redis-source
    cmd: "redistool"
    args:
      [
        "send",
        "--address",
        "localhost:6379",
        "--channel",
        "test.channel.in",
        "--interval",
        "1s",
        "--payload",
        '{"a":10, "b":20, "date": "{{nowtime}}", "count": {{counter}}}',
      ]
    restartTries: 0
killOthers: true
